<body>
  <div class="row row-cols-1 row-cols-md-5 g-4" >
    <!--default card-->
    <div class="card" style="width: 18rem;">
      <div class="imageColor">
          <img src="assets/images/user.png" class="card-img-top user-image" alt="thumbline" title="add post" [routerLink]="['/categories/0/edit']">
            <p class="image-text">Add Category</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
        </div>
        
      </div>
    <div class="col" *ngFor="let category of categories">
      <div class="card" [style.width.px]="300">
       
        <img [src]="category.imageUrl" class="card-img-top image-content" alt="thumbline" >
        
        <div class="card-body" >
          <h5 class="card-title">{{category.name}}</h5>
          <p class="card-text">{{category.description}}</p>
          <button class="btn-primary" [routerLink]="['/categories',category.id,'edit']">Edit</button>
        </div>
        
      </div>
    </div>
    
</div>
</body>


